@import url("https://use.typekit.net/moi5hpd.css");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: gill-sans-nova, sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 25px; /*1em=25px*/
	color: #4d4d4f;
	text-align: center;
	line-height: 1.5;
}

header { 
	background-color: #deebe7;
	padding: 1em;
}

nav {
	float:right;
}

nav a:link{
	font-family: gill-sans-nova, sans-serif;
	color: #407482;
	text-transform: uppercase;
	font-size: .85em;
	font-weight: 200;
	letter-spacing: 1.5px;
	margin: 0 1em;
	padding-bottom:2px;
	
}

nav a:visited{
	color: #407482;
}

nav a:hover{
	color: #8fb4ab;
	border-bottom: 1px solid #8fb4ab;

}

nav a:active{
	color:#bd9157;
}

img{
	width: 100%;
	display: block;
}

h1 {
	font-family: mrs-eaves, serif;
	font-weight: 400;
	font-style: italic;
	color: #4d4d4f;
	font-size: 3.75em;
	line-height: 1.3;
	text-align: left;
	padding: 1em .55em 0em 1em;
}

h2{
	color: #4d4d4f;
	font-size: 2.75em;
	font-weight: 200;
/*	text-transform: uppercase;*/
	margin: 20px;
}

h3{
	font-family: gill-sans-nova, sans-serif;
	font-weight: 300;
	color: #4d4d4f;
	font-size: 1.5em;
	margin: 1em;
}

h4{
	font-family: mrs-eaves, serif;
	font-weight: 400;
	font-style: italic;
	color: #4d4d4f;
	font-size: 2em;
	line-height: 1em;
	margin: .5em;
}

h5 {
	margin: 1em;
}

span.hyper {
    font-family: mrs-eaves, serif;
	font-weight: 400;
	font-style: italic;
	color: #4d4d4f;
	font-size: 1.25em;
}


a{
	color:#407482;
	text-decoration: none;
}

p{
	font-family: 'gill-sans-nova', sans-serif;
	font-size:1em;
	line-height: 1.5em;
	text-align: left;
	padding: 0 4em;
}

footer {
	background-color: #7c7c7c;
	padding: 1em;
	display: flex;
	align-items: center;
}

footer a:link{
	font-family: gill-sans-nova, sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-size: .85em;
	font-weight: 200;
	letter-spacing: 1.5px;
	margin: 0 1em;
	padding-bottom:2px;
	float: right;
	
}

footer a:visited{
	color: #fff;
}

footer a:hover{
	color: #8fb4ab;
	border-bottom: 1px solid #8fb4ab;

}

footer a:active{
	color:#bd9157;
}


.clearfix:after{
	content:"";
	display: block;
	clear: both;
	font-size: 0;
    height: 0;
}

.two-column .column {
	width: 50%;
	float: left;
}

.three-column .column {
	width: 33.32%;
	float: left;
}

#menu {
	 display: flex;
	 align-items: center;
}

#menu img{
	width: 35%;
	float: left;
}

#menu p{
	float: right;
}

#hero{
	  position: relative;
	}

#hero div{
	position: absolute;
	left: 10px;
	top: 50%;
	right: 45%;
	transform: translateY(-50%);
}	

#hero img{
	width: 100%; 
	position: relative;
}


#hyperclean {
	padding: 2em 0;
	text-align: center;
}

#hyperclean p{
	text-align: center;
	padding: .5em 16em;
}

#hyperclean img {
	width: 100%;
	position: relative;
	padding:4em;
	display: block;
}

#statement p {
	
}


#three-ways{
	background-color: #deebe7;
	align-items: center;
	padding: 1.5em 5em;
}

#switch{
	background-color: #deebe7;
	padding: 2.25em 2.25em;

}

#quote {
    margin: auto;
	padding: 2em;
	display:flex;
	background-color: #efefef;
}

#quote p{
    margin: auto;
	display:flex;
   	padding: 2.5em 1em 0em 0em;
/*	background: blue;*/
}

#quote img {
    width: 45%;
    display: flex;
    margin: auto;
    padding: 0em 0em 0em 5em;
/*    background: red;*/
}

#footer img{
    width: 30%;
    float: left;
}

@media screen and (max-width:1550px){

	h1 {
		font-size: 3em;
	}

	p {
	    padding: 0 3em;

		}
}

@media screen and (max-width:1243px){

	h1 {
		font-size: 2.75em;
		padding: 1em .45em 0em 1em;
	}

	#hyperclean p {
	    padding: .5em 10em;
	}

	#hyperclean img {
	    padding: 3em 5em;
	}

	h3 {
		font-size: 1.25em;
	    margin: .5em;
	}
}

@media screen and (max-width:1143px){
	nav a:link{
	font-size: .75em;
}

	h1 {
		padding: 1em .15em 0em 1em;
	}

	p{
		font-size: .85em;
	}


}

@media screen and (max-width:1091px){

	h1 {
		font-size: 2.5em;
		padding: 1em 0em 0em 1em;
	}

	h2 {
		font-size: 2.25em;
	}

	h4 {
		font-size: 1.75em;
	}

	p{
		font-size: .85em;
	}


}

@media screen and (max-width:1027px){

.two-column .column {
	float: none;
}

/*how to stack columns? 
*/

/*can you change the height of <br>?*/

/*need help with quote section
*/


}









