* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #4d4d4f;
	line-height: 1.5;
}

header { 
	background-color: #deebe7;
	padding: 20px;
}

nav a {
	color: #407482;
	text-decoration: underline;
	font-weight: 600;
	margin-right: 10px;
}

img{ 
	width: 100%; 
}

h1 {
	color: #4d4d4f;
	font-size: 48pt;
	line-height: 1.3;
}

a{
	color:#407482;
	text-decoration: none;
}

h3, h4, h5 {
	margin: 20px;
}

.clearfix:after{
	content:"";
	display: block;
	clear: both;
}

.two-column .column {
	width: 50%;
	float: left;
}

.clearfix:after{
	content:"";
	display: block;
	clear: all;
}

.three-column .column {
	width: 33.32%;
	float: left;
}

.clearfix:after{
	content:"";
	display: block;
	clear: all;
}

.four-column .column {
	width: 25%;
	float: left;
}

#hero{
	  position: relative;
	}

#hero div{
	position: absolute;
	left: 30px;
	top: 50%;
	right: 60%;
	transform: translateY(-50%);

}	

#hyperclean {
	 background-color: #deebe7;
	 padding: 30px;
}

#four-ways{
	 background-color: #fff;
	 padding: 30px;
}

#switch{
	 background-color: #fff;
}

#quote {
	 background-color: #fcf5f4;
	 padding: 30px;
}

footer {
	background-color: #deebe7;
	padding: 20px;
}





